// content-song.jade
article.content-song
	.container
		header.song_header
			h1.song_title "Корабли"
			ul.song_info
				li.song_info-item Музыка: 
					a.song_info-link Виталий Пось
				li.song_info-item Слова: 
					a.song_info-link Виталий Пось
				li.song_info-item Альбом: 
					a.song_info-link Название альбома
			a.song_button(href="#")
				i.fa.fa-apple 
				| &nbsp;Купить в iTunes
		aside.song_sidebar
			h3.song_sidebar-title Включена в сборники
			p.song_sidebar-text Название сборника песен
			h3.song_sidebar-title Упоминания в прессе
			a.song_sidebar-link(href="#") Ссылка на рецензию в журнале
			h3.song_sidebar-title Другие песни с этого альбома
			ul.song_sidebar-list
				li.song_sidebar-item
					a(href="#") Не дышу тобой
				li.song_sidebar-item
					a(href="#") Мой путь
				li.song_sidebar-item
					a(href="#") Колыбельная 

		section.song_section
			h2.song_section-title История создания песни "Корабли"
			p.song_section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima accusantium, porro dolorum consequatur, alias quae ipsum asperiores, officiis iste at incidunt. Commodi molestias, similique itaque sint quisquam repellat sunt magnam!
			h2.song_section-title Видеозапись исполнения песни
			iframe(width="560", height="315", src="https://www.youtube.com/embed/1J1oUxi6zTs", frameborder="0", allowfullscreen)
			h2.song_section-title Текст песни "Корабли"
			p.song_section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum provident obcaecati laboriosam, placeat ullam veniam impedit labore at dolorem corrupti quibusdam, enim quos necessitatibus voluptates quam officia quidem non! Voluptates.