// content-bio.jade
article.content-bio
	.container
		//- h1.bio_title Биография
		img.bio_img.align-right(src="img/Gmail/1(6).jpg", alt="")
		p.bio_text Ксения Чер родилась 20 декабря, в городе Азове, Ростовской области. Родители приехали туда на учёбу с разных городов. Там же сыграли свадьбу, и родилась я. 
		p.bio_text Потом переезд в Воронежскую область, где на свет появился мой средний брат Денис. Родителям было трудно с двумя маленькими детьми и меня вынужденно отправляют к бабушке в 
			abbr(title="Кабардино-Болкария") КБР
			| , в деревню Черниговка, где я воспитывалась до двух лет. Спустя какое-то время тудаже переехали и родители с братом. 
		p.bio_text В Кабардино-Болкарии на родине отца, родился мой младший брат Олег. Со средним братом учились в одном классе. Пару лет в школе №10. Там же я посещала хореографическую балетную школу. Потом перевелись в школу №6 города Прохладный, 
			abbr(title="Кабардино-Болкария") КБР
			| , где обучались в третьем классе, до марта. 
		p.bio_text После, с родителями переехала по месту службы отца в Германию, 
			abbr(title="группа советских войск в Германии") ГСВГ
			|, в последствии переименованная в 
			abbr(title="Западная группа войск") ЗГВ
			|. Школа №7 города Бранденбурга, стала нам родной на долгих 5 лет. Там я много занималась творчеством, выступала в военных клубах, детских садах и на школьных творческий вечерах. 
		blockquote.align-left Мой художественный руководитель, взялась за меня бесплатно и часто повторяла: "Твой талант нельзя зарывать в землю..."
		p.bio_text Когда вернулись в Россию, по распределению отца попали в город Ростов-на-Дону. Окуда нас, со средним братом, родители вынуждены были отвезти в Воронежскую область, село Хреновое, потому что жильём были не обеспечены, жить было негде. Здесь проживали мамины родители, и здесь же мы проучились полгода в школе №45, пока наша семья не воссоединилась. После переезда в Ростов-на-Дону, мы с братом окончили обучение в школе №82.

		p.bio_text К сожалению, родители не одобряли моего творческого выбора, потому что считали его несерьёзным. В 6-ом классе, я тайком от них пошла в музыкальную школу по классу фортепиано, о котором бредила всё детство. Мой художественный руководитель, взялась за меня бесплатно и часто повторяла: "Твой талант нельзя зарывать в землю..." Через какое-то время об этом узнала мама. Как итог, я отучилась год и вынуждена была оставить эту затею. Жили мы бедно, музыкальный инструмент покупать было не на что. Так я рассталась со своей мечтой, на какое-то время....

		p.bio_text После школы была попытка поступить в ростовскую школу искусств. Она не увенчалась успехом, и я вынуждена идти работать официанткой в ресторан. Через полгода уволилась и устроилась секретарём-референтом в комитет по казачеству войска Донского. Через некоторое время вышла замуж за офицера Российской Армии, и на долго уехала в Уральские степи, в маленький военный городок под названием Ясный, где начались суровые будни и мужественное преодоление их уже в роли жены и матери. 
		p.bio_text Родился сын Альберт. После рождения сына, через 6 лет степного заточения, наша семья переехала в г.Оренбург. Работала на разных работах, от лаборанта хим.кабинета, до телефониста дальней связи при штабе 31-ой ракетной Армии. Там же призвалась на службу, прямо в день своего рождения. 
		p.bio_text Служила в областном военкомате города Оренбурга на должности механика аппаратной и уволилась по семейным обстоятельствам. Весной того же года, после увольнения, моя семья распалась. Я официально развелась. Бывший муж уехал на свою родину, а мы с сыном остались вдвоём. Развод подтолкнул меня к движению по творческой линии, и я занялась вокалом на профессиональном уровне. Ставила голос и для начала приступила к работе в ресторанах. Пришло осознание, что нужно двигаться вперёд и решение переехать в Москву созрело в одночасье.
		blockquote.align-right Я просыпалась с мыслью о том, где я буду в обед, а в обед не знала, где мне придётся сегодня ночевать.

		p.bio_text Выживание началось с первых дней моего переезда в столицу. Не всё было так просто, как мне представлялось. Всю жизнь, что была до Москвы, можно было обнулить. Каждый Божий день проходил на выживание, в глубоких душевных переживаниях. Я просыпалась с мыслью о том, где я буду в обед, а в обед не знала, где мне придётся сегодня ночевать. Много непорядочных людей, много обмана, слёз и потерь. 

		p.bio_text Работая по кафешкам и ресторанам среднего пошиба, где я не столько набиралась опыта как певица, сколько держала постоянную оборону за свою честь и жизнь. Было участие в творческом проекте под руководством скандального композитора и директора одной группы, благодаря которому я буквально осталась на улице без средств к существованию. Бесконечные долги и постоянная миграция по Москве. За несколько лет довелось сменить 16 мест, где дольше, чем на 3 месяца, не задерживалась по разным обстоятельствам. Работа только для того чтобы выжить.

		p.bio_text В 2013 году я поступаю в 
			abbr(title="Институт Современного Управления Кино и Телевидения") ИСОУКиТ 
			| на драматическую актрису. Художественным руководителем факультета был актёр 
			a(href="#") Вадим Померанцев
			|, который и пригласил меня туда. Мечта детства становилась явью. Но дневная форма обучения и ночные работы уже через три месяца обессилили меня на столько, что пришлось выбирать между работой и учёбой. Выбрала учёбу. 
		p.bio_text Какое-то время жила на накопления, пока они не закончились. Мама очень помогала. В тайне ото всех. Единственная, кто понял, что меня с этой дороги уже не свернуть. Доучилась с трудом. Пришлось в очередной раз сменить место жительства на более доступное и взять академический отпуск на год, чтобы восстановить своё финансовое состояние.

		p.bio_text Сотрудничала с директорами, которые заваливали мне всю работу. Выступала везде, куда приглашали, как правило &mdash; благотворительно. Было важно, чтобы меня услышали.... 

		p.bio_text На данном этапе я записываю свой первый альбом в стиле поп-рок, автором которого является мой друг, человек с большой буквы, талантливейший музыкант &mdash; 
			a(href="#") Виталий Пось
			|. Меня окружают хорошие и достойные люди. Я живу в любимой Москве, двигаюсь по творчеству, развиваюсь и продолжаю стремиться к новым вершинам.

		p.bio_text Для тех, кто живёт мечтой кем-то стать в этой жизни - 
			em НЕ РАЗЖИМАЙТЕ ЛАДОНЕЙ! 
			| Дерзайте, работайте над собой. Талантливых людей огромное множество, а вот трудолюбивых и внутренне сильных - единицы. 
			strong С БОГОМ!!!