// content-schedule.jade
article.content-schedule
	.container
		table.table-schedule
			caption.table-schedule_caption Афиша
			thead.table-schedule_head
				tr
					th Дата
					th Город
					th Место
					th Мероприятие
			tbody.table-schedule_body
				tr
					td 01.08.2016
					td Москва
					td Концертный зал
					td Фестиваль
				tr
					td 08.08.2016
					td Москва
					td Спорткомплекс
					td Сольный концерт
				tr
					td 20.08.2016
					td Санкт-Петербург
					td Дворец Культуры
					td Церемония