// content-single.jade
article.content-single
	.container
		h1.post_title Потрясающий концерт в Пекине
		p.post-meta 11.03.2016
		img.post_img(src="img/11.jpg", alt="")
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptates assumenda vel dignissimos rerum est reprehenderit non, velit obcaecati distinctio sequi consectetur cum ipsum dicta voluptatem veniam. Aperiam, quidem, perferendis.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptates assumenda vel dignissimos rerum est reprehenderit non, velit obcaecati distinctio sequi consectetur cum ipsum dicta voluptatem veniam. Aperiam, quidem, perferendis.