// content-contact.jade
article.content-contact
	.container.clearfix
		section.contact_section
			h2.contact_subtitle Организация концертов
			h3.contact_subtitle Имя Фамилия
			p.contact_text Концертный директор
			p.contact_text
				small +7 926 555 5675
			h2.contact_subtitle Пресс-служба
			h3.contact_subtitle Имя Фамилия
			p.contact_text PR-менеджер
			p.contact_text
				small +7 962 332 7646
				small
					a(href="mailto:email@domain.ru") email@domain.ru
		aside.contact_sidebar
			h2.form-contact_title По вопросам сотрудничества
			form.form-contact(action="#")
				label Имя:
				input(type="text")
				label Телефон:
				input(type="text")
				label Сообщение:
				textarea
				button Отправить