// content-archive.jade
article.content-archive
	.container
		dl.anno.clearfix
			dt.anno_title
				a(href="#")
					h2 Потрясающий концерт в Пекине
			dd.anno_img
				a(href="#")
					img(src="img/11.jpg", alt="")
			dd.anno_meta 
				a(href="#") 11.03.2016
			dd.anno_excerpt 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, ullam quisquam placeat ratione quam dolorum ea quo itaque sit omnis tempore pariatur ab rem reprehenderit ipsa, asperiores, mollitia. 
				a(href="#") Читать новость...
		dl.anno.clearfix
			dt.anno_title.anno_title-reverse
				a(href="#")
					h2 Новый гастрольный тур
			dd.anno_img.anno_img-reverse
				a(href="#")
					img(src="img/12.jpg", alt="гастрольный тур")
			dd.anno_meta.anno_meta-reverse 
				a(href="#") 11.02.2016
			dd.anno_excerpt.anno_excerpt.anno_excerpt-reverse 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ipsa soluta laudantium iste, quod, dolorem temporibus, numquam ipsam iusto nostrum eum quisquam voluptates ab consectetur officiis accusantium recusandae sed illo.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum ipsa soluta laudantium iste, quod, dolorem
				a(href="#") Читать новость...
		dl.anno.clearfix
			dt.anno_title
				a(href="#")
					h2 На съемках клипа
			dd.anno_img
				a(href="#")
					img(src="img/10.jpg", alt="клипа")
			dd.anno_meta 
				a(href="#") 3.01.2016
			dd.anno_excerpt 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non provident eveniet beatae ipsum deserunt culpa quisquam vitae sed alias rem veniam et repudiandae voluptates quis hic aut iusto sit, velit.