//- footer.jade
footer.footer.clearfix
	.container
		.footer_social.clearfix
			a.footer_social-link(href="#")
				i.fa.fa-vk
			a.footer_social-link(href="#")
				i.fa.fa-facebook
			a.footer_social-link(href="#")
				i.fa.fa-odnoklassniki
			a.footer_social-link(href="#")
				i.fa.fa-at
		.footer_copyright
			small Все права защищены &copy; 2016