// header.jade
header.header.clearfix
	.container
		h2.header_logo Ксения 
			span Чер
		nav.header_nav
			ul
				li.header_nav-item
					a(href="http://localhost:3000") Главная
				li.header_nav-item
					a(href="http://localhost:3000/schedule.html") Афиша
				li.header_nav-item
					a(href="http://localhost:3000/bio.html") Биография
				li.header_nav-item
					a(href="http://localhost:3000/news.html") Новости
				li.header_nav-item
					a(href="http://localhost:3000/archive.html") Песни
				li.header_nav-item
					a(href="http://localhost:3000/single.html") Друзья
				li.header_nav-item
					a(href="http://localhost:3000/guestbook.html") Гостевая
				li.header_nav-item
					a(href="http://localhost:3000/contact.html") Контакты
